---
const titulopagina = "sobre mim";

const identidade = {
  nome: "Igor",
  pais: "Brasil",
  ocupacao: "Estagiario Limasdev",
  hobbies: ["fotografia", "observar pássaros", "beisebol"],
};

const habilidades = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Escrever Documentação",
];

const feliz = true;
const terminado = true;
const meta = 3;
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="youtube.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sobre</title>
  </head>
  <body>
    <h3>{titulopagina}</h3>
    <p>Aqui estão alguns fatos sobre mim:</p>
    <ul>
      <li>Meu nome é {identidade.nome}.</li>
      <li>
        Eu moro no {identidade.pais} e eu trabalho como um {
          identidade.ocupacao
        }.
      </li>
      {
        identidade.hobbies.length >= 2 && (
          <li>
            Dois dos meus hobbies são: {identidade.hobbies[0]} and{" "}
            {identidade.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>Minhas habilidades são:</p>
    <ul>
      {habilidades.map((habilidade) => <li>{habilidade}</li>)}
    </ul>
    {feliz && <p>Estou feliz em estar aprendendo Astro!</p>}

{terminado && <p>Eu terminei esse tutorial!</p>}

{meta === 3 ? <p>Minha meta é terminar em 3 dias.</p> : <p>Minha meta não é em 3 dias.</p>}
  </body>
</html>
